<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SalesZone - Login</title>

    <link rel="shortcut icon" th:href="@{/img/icon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="auth-wrapper">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card p-5">
            <div class="logo text-center mb-3">
                <a th:href="@{/}">
                    <img th:src="@{/img/icon.png}" alt="Icon">
                    <span>SalesZone</span>
                </a>
            </div>
            <p class="mb-30px text-center">Enter your <strong>Username</strong> and Password</p>

            <!-- Hiển thị lỗi nếu có -->
            <div th:if="${error}" class="alert alert-danger text-center" th:text="${error}"></div>

            <div class="auth-form">
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="username" class="w-100">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" required>
                    </div>
                    <div class="mb-2 position-relative password-input">
                        <label for="password" class="w-100">Password:</label>
                        <span class="icon eye-open"><i class="fa-regular fa-eye"></i></span>
                        <span class="icon eye-close"><i class="fa-regular fa-eye-slash"></i></span>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="1" id="remember">
                        <label class="form-check-label" for="remember">Remember Me</label>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/plugins/jquery.min.js}"></script>
<script th:src="@{/js/plugins/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>
